name: First CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - run: dotnet restore
      - run: dotnet build
      - run: dotnet test

      - run: dotnet publish -c Release -r linux-x64 --self-contained true /p:PublishSingleFile=true /p:AssemblyName=app -o app

      - run: tar cf app.tar app/

      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: app.tar

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: app

      - run: tar xf app.tar
      - run: chmod +x app/app
      - run: ./app/app
